<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3217156/pexels-photo-3217156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Foryou</h1>
    <p>Babysitting, bricolage jardinage, traiteur, dogsitting... for you !</p>
    <%= link_to 'Book now', offers_path, class: 'btn btn-flat' %>
  </div>
</div>

<div class="bg-white">
  <div class="container p-5 bg-white">
    <h1>Ils proposent leur service :</h1>
    <div class="cards p-5">
      <% @offers.each do |offer| %>
        <div class="card-offer position-relative min-h-100 max-h-100">
          <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
            <%= link_to 'Book now', offer_path(offer), class: 'btn btn-secondary', style: 'opacity: 0.9'%>
          </div>
          <%= cl_image_tag offer.photo.key,
          width: 400, height: 300, crop: :fill %>
          <div class="card-offer-infos">
            <h2><%= offer.name %></h2>
            <em><h5><%= offer.category %></h5></em>
            <p><%= offer.description %></p>
          </div>
            <div class="card-offer-person">
              <h3 class="card-offer-pricing"><%= offer.price_per_day %> € /jour</h3>
              <img src="<%= Faker::Avatar.image%>" class="card-trip-user avatar-bordered" />
            </div>
        </div>
      <% end %>
    </div>
    <div class="text-center text-decoration-none">
      <%= link_to "Voir toutes les offres", offers_path, class: 'btn btn-show-offer w-50' %>
    </div>
  </div>
</div>
