<div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3769999/pexels-photo-3769999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container p-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <h3 class="text-center">Créez votre offre</h3>
          <%= simple_form_for @offer do |f| %>
            <%= f.input :name, placeholder: 'Quel service proposez-vous ?' %>
            <%= f.input :description, placeholder: 'Décrivez en quelques mots votre service' %>
            <%= f.input :category, collection: Offer::CATEGORY %>
            <%= f.input :price_per_day%>
            <%= f.input :address %>
            <%= f.input :photo, as: :file %>
            <%= f.submit 'Créez votre offre' class: 'btn btn-flat_edit w-100' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
