<div class="bg-white">
  <div class="container p-4 bg-white">
  <h1>Trouvez l'offre qui vous correspond</h1>
    <%# SEARCH BAR %>
    <%= form_with url: offers_path, method: :get, class: "d-flex border-radius: 10px" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "i.e: Babysitting"
      %>
      <%= submit_tag "Search", class: "violet-button" %>
    <% end %>
    <%# FIN SEARCH BAR %>
    <%# ICONS RECHERCHE %>
    <div class="icon-bar">
      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "jardin_exterieur" do %>
          <i class="fa-solid fa-seedling"></i>
          <p>Jardin/Extérieur</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "babysitting" do %>
          <i class="fa-solid fa-baby-carriage"></i>
          <p>Baby-sitting/Garde d'enfants</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "dogsitting" do %>
          <i class="fa-solid fa-dog"></i>
          <p>Dog-sitting/Garde d'animaux</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "reparation" do %>
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p>Réparation/Entretien</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "house" do %>
          <i class="fa-solid fa-house"></i>
          <p>Maison/Décoration</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "party" do %>
          <i class="fa-solid fa-cake-candles"></i>
          <p>Animation</p>
        <% end %>
      <% end %>

      <%= form_tag offers_path, method: :get do %>
        <%= button_tag type: "submit", class: "btn btn-default", name: "cook" do %>
          <i class="fa-solid fa-utensils"></i>
          <p>Traiteur/Service à table</p>
        <% end %>
      <% end %>
    </div>
    <%# FIN ICONS RECHERCHE %>
    <div class="cards">
      <% @offers.each do |offer| %>
          <div class="card-offer">
            <%= link_to new_offer_booking_path(offer), id: "card-link" do %>
            <%= cl_image_tag offer.photo.key, width: 300, height: 200, crop: :fill %>
            <div class="card-offer-infos">
              <h3><%= truncate(offer.name, length: 40, separator: ' ', omission: '...') %></h3>
              <em><h5><%= offer.category %></h5></em>
              <p><%= truncate(offer.description, length: 40, separator: ' ', omission: '...') %></p>
            </div>
            <div class="card-offer-person">
                <h5 class="card-offer-pricing"><%= offer.price_per_day %> € /jour</h5>
                <img src="<%= Faker::Avatar.image%>" class="card-trip-user avatar-bordered" />
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
