<div class="bg-white">
  <div class="container p-5 bg-white">
  <h1>Trouvez l'offre qui correspond</h1>
    <%# SEARCH BAR %>
   <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
    <%# FIN SEARCH BAR %>
    <%# ICONS RECHERCHE %>
    <div class="icon-bar">
      <i class="fa-solid fa-hammer"></i>
      <i class="fa-solid fa-seedling"></i>
      <i class="fa-solid fa-baby"></i>
      <i class="fa-solid fa-dog"></i>
      <i class="fa-solid fa-bowl-food"></i>
      <i class="fa-solid fa-computer"></i>
    </div>
    <%# FIN ICONS RECHERCHE %>
    <div class="cards p-5">
    <% @offers.each do |offer| %>
        <div class="card-offer">
          <%= cl_image_tag offer.photo.key,
          width: 400, height: 300, crop: :fill %>
          <div class="card-offer-infos">
            <div>
              <h2><%= offer.name %></h2>
              <em><h2><%= offer.category %></h2></em>
              <p><%= offer.description %></p>
              <h3 class="card-offer-pricing"><%= offer.price_per_day %> €</h3>
            </div>
            <img src="<%= Faker::Avatar.image%>" class="card-trip-user avatar-bordered" />
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
