<div class="bg-white p-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="img">
        <%= cl_image_tag @offer.photo.key, width: 600 %>
      </div>
      <div class="mx-auto">
        <h2 class="text-center pt-5" style="color: #3C1A5B"><strong>Mon offre for you...</strong></h2>
        <P><strong>Nom:</strong> <%= @offer.name %></P>
        <p> <strong>descrisption:</strong> <%= @offer.description %></p>
        <p> <strong>Catégorie:</strong> <%= @offer.category %></p>
        <p><strong>Adresse:</strong> <%= @offer.address %></p>
        <p><strong>Prix:</strong> <%= @offer.price_per_day %> €</p>
      </div>
    </div>
  </div>
</div>
